.icon-bar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 0;
  background-color: #ebebeb;
  padding-left: 50px;
  padding-right: 50px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 30px 0px;
}

.iconMid41 {
  width: 140px;
  height: 60px;
  margin-right: 10px;
}
